body {  
  background-color:#f9f9f9
}

.container-fluid {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto
}

.card {
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    padding:10px
}

.card-title {
    margin: 0 !important;
    font-size: 1.25rem
}

.bg-white{background: #fff}