

<div class="row">
	<div class="col-md-6">

		<div class="card">

			<div class="card-header bg-white">
				<h4 class="card-title">Create your account</h4>
			</div>

			<div class="card-block">

				<form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">


					<div class="form-group">
						<label for="first-name">First name</label>
						<input id="first-name" type="text" required name="firstName" class="form-control" placeholder="Your first name" tmFocus ngModel>
					</div>

          	<div class="form-group">
						<label for="last-name">Last name</label>
						<input id="last-name" type="text" required name="lastName" class="form-control" placeholder="Your last name" ngModel>
					</div>
 
          <div class="form-group">
						<label for="email">Email</label>
						<input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel  #email="ngModel">
						<small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
					</div>
         
          <div class="form-group">
						<label for="location">Location</label>
						<input id="location" type="text" required name="location" class="form-control" placeholder="Location" ngModel>
					</div>
  
				<div class="form-group">
						<button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Sign Up</button>
						<app-spinner [isRunning]="isRequesting"></app-spinner>
					</div>

					<div *ngIf="errors" class="alert alert-danger" role="alert">
						<strong>Oops!</strong> {{errors}}
					</div>

				</form>
			</div>

		</div>
	</div>